@*@model List<WebMVCAppAK1.Models.Employee>

@foreach(var item in Model){
    <section>
    <h1>Id : @item.Id</h1>
    <h2>Fullname @item.Firstname - @item.Lastname</h2>
    <hr />
    </section>
}*@


@model EmployeeViewModel

@foreach (var item in Model.Employees)
{
    <section>
        <h1>Id : @item.Id</h1>
        <h2>Fullname @item.Firstname - @item.Lastname</h2>
        <hr />
    </section>
}

@foreach(var item in Model.Cities){
    <section>
        <p>@item</p>
    </section>
}